absl-py==2.1.0
accelerate==1.1.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
asttokens==3.0.0
attrs==24.2.0
backoff==2.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
colorama==0.4.6
cryptography==44.0.2
dataclasses-json==0.6.7
DataProperty==1.0.1
datasets==2.21.0
decorator==5.2.1
deepspeed==0.15.3
diagrams==0.23.3
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
docker-pycreds==0.4.0
docling==2.27.0
docling-core==2.23.2
docling-ibm-models==3.4.1
docling-parse==4.0.0
easyocr==1.7.2
emoji==2.14.1
et_xmlfile==2.0.0
eval_type_backport==0.2.2
evaluate==0.4.3
executing==2.2.0
faiss-cpu==1.10.0
fake-useragent==2.0.3
fastapi==0.115.4
filelock==3.16.1
filetype==1.2.0
Flask==3.1.1
frozenlist==1.5.0
fsspec==2024.6.1
gguf==0.10.0
gitdb==4.0.11
GitPython==3.1.43
graphviz==0.20.1
h11==0.14.0
hjson==3.1.0
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.5.0
instructlab==0.20.0
instructlab-dolomite==0.2.0
instructlab-eval==0.3.1
instructlab-quantize==0.1.0
instructlab-schema==0.4.1
instructlab-sdg==0.4.2
instructlab-training==0.5.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.2
jiter==0.7.0
joblib==1.4.2
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langchain==0.3.21
langchain-community==0.3.20
langchain-core==0.3.45
langchain-ollama==0.2.3
langchain-text-splitters==0.3.7
langdetect==1.0.9
langsmith==0.1.139
latex2mathml==3.77.0
lazy_loader==0.4
llama_cpp_python==0.2.79
llvmlite==0.43.0
lm_eval==0.4.5
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.3
marshmallow==3.26.1
matplotlib-inline==0.1.7
mbstrdecoder==1.1.3
mdurl==0.1.2
mlx==0.5.1
more-itertools==10.5.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.1
nltk==3.9.1
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
olefile==0.47
ollama==0.4.7
openai==1.53.0
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
orjson==3.10.11
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pandas-stubs==2.2.3.241009
parso==0.8.4
pathspec==0.12.1
pathvalidate==3.2.1
peft==0.13.2
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==2.10.1
prometheus_client==0.22.1
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==18.0.0
pybind11==2.13.6
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.6.1
pydantic_core==2.27.2
pydantic_yaml==1.3.0
Pygments==2.18.0
pylatexenc==2.10
pypdf==5.4.0
pypdfium2==4.30.1
PySocks==1.7.1
pytablewriter==1.2.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2025.2.18
python-magic==0.4.27
python-oxmsg==0.0.2
python-pptx==1.0.2
pytz==2024.2
PyYAML==6.0.2
RapidFuzz==3.12.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.4
requests-toolbelt==1.0.0
rich==13.9.4
rouge_score==0.1.2
rpds-py==0.20.1
rtree==1.4.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
sacrebleu==2.4.3
safetensors==0.4.5
scikit-image==0.25.2
scikit-learn==1.5.2
scipy==1.14.1
selenium==4.28.1
semchunk==2.2.2
sentencepiece==0.2.0
sentry-sdk==2.17.0
setproctitle==1.3.3
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.39
sqlitedict==2.1.0
sse-starlette==2.1.3
stack-data==0.6.3
starlette==0.41.2
starlette-context==0.3.6
sympy==1.13.1
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.6
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2025.3.13
tokenizers==0.20.1
toml==0.10.2
torch==2.6.0
torchvision==0.21.0
tqdm==4.66.6
tqdm-multiprocess==0.0.11
traitlets==5.14.3
transformers==4.46.1
trio==0.28.0
trio-websocket==0.11.1
trl==0.12.0
typed-ast==1.5.5
typepy==1.3.2
typer==0.12.5
types-pytz==2024.2.0.20241003
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
unstructured==0.17.0
unstructured-client==0.31.1
urllib3==2.2.3
useragent==0.1.1
uvicorn==0.32.0
wandb==0.18.5
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
word2number==1.1
wrapt==1.17.2
wsproto==1.2.0
xdg-base-dirs==6.0.2
XlsxWriter==3.2.2
xxhash==3.5.0
yamllint==1.35.1
yarl==1.17.1
zipp==3.20.2
zstandard==0.23.0
